---
name: Build and Release

"on":
  push:

jobs:
  build:
    name: Build PDF
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Nix Build
        run: nix run .#build

      - name: Move PDF
        run: cp main.pdf cv.pdf
        if: github.ref == 'refs/heads/master'

      - name: GitHub Release
        run: |
          git tag -d compiled-pdf || true
          git push origin --delete compiled-pdf || true
          git tag compiled-pdf
          git push origin compiled-pdf
          gh release delete ${{ env.VERSION }} -y || true
          gh release create ${{ env.VERSION }} -t "Compiled CV" \
          -n "Compiled CV (commit ${{ github.sha }})" ${{ env.FILES }}
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          VERSION: "compiled-pdf"
          FILES: cv.pdf
        if: github.ref == 'refs/heads/master'
